<div class="smart-mobile-page"
    style="background-color: var(--color-white-cream); min-height: 100vh; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 180px;">
    <h1 style="font-size: 3em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 20px;">
        Smart Mobile Projects</h1>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        I am currently in semester four, Smart mobile. In this semester, I am learning how to create mobile applications
        using the Flutter framework and Kotlin. I have created some projects already, but because this semester is
        ongoing, and I have to find an internship before it ends, I will not post any projects here.
        If you have questions about anything regarding this semester, feel free to ask at our interviews.
    </p>
</div>