<div class="project-page" style="background-color: var(--color-white-cream); min-height: 100vh; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 50px; padding-left: 180px;">
    <h1 style="font-size: 3em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 20px;">Small interesting projects</h1>
    
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Description</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        During three semesters at Fontys University of Applied Sciences, I worked on several small Projects. This projects contributed to my learning experience and helped me to develop my skills in design and development. Each project was unique and presented different challenges and opportunities for growth. 
    </p>

    <!-- sem 1 -->
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Semester 1</h2>
    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Built a house game</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This was my first small individual project where I had to design a game in the idea of #angman game, that would be more friendly. The game was about building a house, and the user had to guess the word. The game had to be an interactive high fidelity prototype.
    This is where I first learn how to create prototypes and make them interactive. I learned how to work with Figma, Canva and Adobe. I also learned how to create a user-friendly design.
    </p>

    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">The Greenhouse</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This project did not imply any design or research, but it required to create a website using HTML, CSS and Python. The website was about a device that would monitor the humidity and temperature in the greenhouse. This project was more about coding and less about design. I learned how to create a website using Python, how to work with a database, and how to create a website that communicates with a device, an arduino.
    This is where I first experimented with functions, if statements and while loops. I did enjoy programming in Python even if it was just a base of it. 
    </p>

    <!-- sem 2 -->
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Semester two</h2>
    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">JavaScript challenges</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    During my second semester I learned about JavaScript. I have completed multiple assignments that thought me about functions, values and statements. 
    The small tasks were a great way of practice and learning. I learned how to create a calculator, how to create a game, a countdown and a lot of animations. This was my base for what came after, learning React.js and Angular.
    I find all frameworks, programming languages and libraries that are based on JavaScript very interesting and easy to learn and I am looking forward to learn more about them.
    </p>

    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Photography portfolio</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This project was very fun to create even it did not had anything technical related. This is how I discovered my passion for photography. The assignment was to take certain photos with a borrowed professional camera from the university with certain settings. After that I had to edit them and put them in a portfolio created in Adobe.
    I learned how to use the Adobe packages, how to take photos with a professional camera, how to edit photos and how to create a portfolio. After this assignment I bought a beginner camera and started to take photos and edit them as a personal hobby.
    Here you can view my photography portfolio.
</p>
    <a href="assets/Photo_portfolio.pdf" target="_blank" style="font-size: 1.2em; color: var(--color-blue); text-decoration: underline; margin-top: 10px;">View my Photography Portfolio (PDF)</a>

    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Blender</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This task was to create anything in Blender. I chose to create a 3D model of a table with a chair. I learned how to work with Blender, how to create a 3D model, how to add textures and how to render it. This was a fun project that I enjoyed doing. I learned how to work with 3D models and how to create realistic images.
    </p>

     <!-- sem 3 -->
     <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Semester three</h2>
     <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Development challenges</h3>
     <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
         During this semester I created several fun and interesting small projects practicing my JavaScript skills. Additionally, I completed some of the tasks in Node,js to learn how to work with back end. I attended interesting workshops, built more complex functions and improved my GitLab skills. In this semester I learned a lot about GitLab and GitHub, including how to create, delete and merge branches, how to combine two repositories and a lot of interesting terminal commands. 
     </p>
 
     <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Progressive web application</h3>
     <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    Another small task was to create a Progressive web application. This task was very interesting. I learned to convert a website to an app, to add the icon to my phone and view the website there in a responsive form.   
    </p>


    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Reflection</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        These small projects were a great way to practice and improve my skills in design and development. They helped me to learn new things, experiment with different tools and technologies, and gain valuable experience. I enjoyed working on these projects and I am proud of what I have accomplished. I am looking forward to working on more projects in the future and continuing to grow as a designer and developer.   
    </p>

</div>