<div class="project-page" style="background-color: var(--color-white-cream); min-height: 100vh; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 50px; padding-left: 180px;">
    <h1 style="font-size: 3em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 20px;">Group projects</h1>
    
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Description</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        During three semesters at Fontys University of Applied Sciences, I worked on several group projects with my classmates. These projects were part of the curriculum and focused on developing real-world applications using various technologies and tools. The projects covered a wide range of topics, including web development, mobile applications, and software engineering. Each project required collaboration, communication, and problem-solving skills to deliver a high-quality product within a specified time frame. Here are some of the group projects I worked on during my studies at Fontys.
    </p>

    <!-- sem 1 -->
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Semester 1</h2>
    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Jewelry store</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This was the first group project that I have worked on. The assignment of the project was to create a website that is a jewelry store. The requirements were to crete the concept, design it, user test it and code it, in a month. Each member of the group was assigned a page to design and code, the concept and documentation was created together.
    This is where I first learned to brainstorm a concept, to create a project plan and a project report, to prototype in Figma, and code in HTML and CSS. I also learned to work in a team, to communicate with the team, and to work with Git.
    I learned about simple concepts as what is the difference between a low fidelity prototype and  a high fidelity prototype, what is a wireframe, and how to create a website using HTML and CSS. 
    </p>

    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Pizzeria</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    My second group project, in semester one, was a little bit more complex. The concept already existed and it was to create a pizzeria. The pizzeria would be the website where people would be able to order pizza, and the oven would be an arduino.
    This project was challenging because we had to work with an arduino, and we had to create a website that would communicate with the arduino. I learned how to work with an arduino, how to create a website that communicates with an arduino, and how to work with APIs.
    I learned about the concept of APIs, how to work with an arduino, and how to create a website that communicates with an arduino. My main part in this project was to design the website, to built the front end and help with the back end. The technology used for this project was, the arduino, HTML and CSS for front end and Python for back end. 
    </p>

    <!-- sem 2 -->
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Semester two</h2>
    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Branding project</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    From this semester the group project had a real client that we had to work with. The client was a company that wanted to rebrand their website and company. The project was to create a new website for the company, that would be more user friendly and more modern. The project was divided into two parts, the first part was to create a concept and a design, and the second part was to code the website.
    In this project everything was more in depth than in semester one. I improved my prototyping skills being a part of creating mood boards, logos and designs. I learned how to create a website using vanilla JavaScript, how to work with a real client, how to communicate with the client, and how to deliver a high-quality product. My main part in this project was to design the website, to built the front end and help with the rebranding. The technology used for this project was, HTML, CSS and Javascript.    
    </p>

    <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Development project</h3>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This project was about promoting a city from The Netherlands to visitors. Here I learned what Target audience means and how to research about it. This project was more challenging than the first one because we needed to promote something, to focus on a group of people that we had to convince to visit that city.   
    I learned how to promote something, how to create advertising, and how to work with a target audience. I also got to increase my knowledge about HTML, CSS, JavaScript, design and research. 
    </p>

     <!-- sem 3 -->
     <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Semester three</h2>
     <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Studio project</h3>
     <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
         This project was to create a studio, for our team. The studio required to have a logo, website and personality, and it would be used to promote ourselves to the clients that we would have in the future. I helped in creating the concept and project documents. This is the first time I have created and signed a team agreement. I got to practice my skills in Figma, HTML, CSS, and JavaScript. I learned how to create a logo, how to create a website, and how to promote our own brand.
         It was a nice experience that also improved my communication skills and working in a team.
     </p>
 
     <h3 style="font-size: 1.5em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 10px;">Development project</h3>
     <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
       This was the most challenging, in the same time useful project that I made. A company asked my team to create a storytelling application that had AI integrated. The application would be used to create stories, and the AI would help the user to create a story. The project was divided into two parts, the first part was to create a concept and a design, and the second part was to code the application.
       I helped create the concept, documentation and designs. I learned what an advisory report is and improved my skills in creating mood boards, logos, wire frames and prototypes.
       The technical part was to code the website using HTML and CSS for front end and Node.js for back end. The AI and the API key was provided by the client. My part in this phase of the project was to help with the back end. I also learned how to manage GitLab, how to create, delete and merge branches. I learned how to work with an API, how to work with AI, and how to create a website that communicates with an AI. 
    </p>


    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Reflection</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        Reflecting on these projects, I realize how much I have grown both personally and professionally. Each project presented unique challenges and learning opportunities that have shaped my skills and knowledge. Working in teams taught me the importance of communication, collaboration, and adaptability. I learned to manage my time effectively, meet deadlines, and deliver high-quality work.
    </p>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        The technical skills I gained, such as working with HTML, CSS, JavaScript, and various tools and technologies, have been invaluable. I also developed a strong understanding of project management, user experience design, and the importance of client feedback. These experiences have prepared me for future challenges and have given me the confidence to tackle complex projects.
    </p>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        Overall, these group projects have been a significant part of my education, providing me with practical experience and a solid foundation for my career in design and development. I am grateful for the opportunities to learn, grow, and contribute to meaningful projects.
    </p>

    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        Unfortunately, I cannot show any of the projects here, because  I did not get full approval from my team mates of sharing the content, and for some cases I am not allowed from the company side. However, I can show you the projects that I have worked on myself that also reflect the same skills and knowledge.    
        </p>

</div>