<div class="project-page" style="background-color: var(--color-white-cream); min-height: 100vh; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 50px; padding-left: 180px; ">
    <h1 style="font-size: 3em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 20px;">Photography blog website</h1>
    
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Project Description</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This project was created in my third semester. The project was to create a Photography blog website where users can create an account, log in, and buy or download photos. I would be the admin who would upload, edit, and delete photos. The website would have a home page, a gallery page, a blog page, and a contact page.
    As in semester two, I followed the full process for this project. I created this project using Node.js, MongoDB and testing in Postman.
</p>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Technologies Used</h2>
    <ul style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px; list-style-type: disc; padding-left: 20px;">
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>MongoDB</li>
        <li>Postman</li>
    </ul>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Project Process</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        In this section, I will explain the steps I took to complete the project. I did research on my competition, made a project plan, created a timeline and answered research questions.
        After I gathered all the information that I needed I created a wireframe and tested it on multiple users. With the feedback that I received, I created a high fidelity prototype and tested it as well. I got a lot of useful feedback witch I used to improve my prototype.
        After my design was validated I started creating the website. I started with the back end, creating the server and the database. I did not created any front end due to time constrains, so I tested all my functionality in Postman.
        At the end of the project I wrote a project report and an advisory report.
    </p>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Final Product</h2>
    <div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 80px;">
        <div style="text-align: center;">
            <img src="assets/photoBlogSem3.jpg" alt="Project 1 Image 1" style="width: 600px; height: auto; border-radius: 5px;">
        </div>
    </div>
    <a href="https://github.com/CCretu29/Photography-Blog-Backend" target="_blank" style="font-size: 1.2em; color: var(--color-blue); text-decoration: none; margin-top: 80px;">View project</a>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Reflection</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    With this project opportunity, I earned a lot more back end experience, learning to implement more complex functionalities. I also practiced how to test my back end in Postman.
    I got to practice and improve my research and design skills and I learned how to create an advisory report.
    I am proud of the final product and I am looking forward to making more projects like this in the future.
    </p>

</div>
