<div class="project-page" style="background-color: var(--color-white-cream); min-height: 100vh; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 50px; padding-left: 180px; ">
    <h1 style="font-size: 3em; font-weight: bold; color: var(--color-dark-blue); text-align: left; margin-top: 20px;">Ticket system website</h1>
    
    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 120px;">Project Description</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    This project was called "Passion project" as a final assignment for my semester two. The project was to create a ticket system website where users can create an account, log in, and buy a ticket for an event. The website was created using Node.js for back end, HTML and CSS for the front end and MongoDB as database.
    </p>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Technologies Used</h2>
    <ul style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px; list-style-type: disc; padding-left: 20px;">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>MongoDB</li>
        <li>Postman</li>
    </ul>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Project Process</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
        In this section, I will explain the steps I took to complete the project. This includes the initial planning, design, development, testing, and deployment phases.
        The first thing was to create the concept for this project. "Passion project" stands for a small project that shows the student passions. I chose to design the website and the create in back end as well, because bot design and programming are my passion.
        The theme of the website also stands as one of my passions, rock music. Around the same time as I was working on this project, AC/DC, a rock band that I love had a concert I was going to attend, and that is how I decided to make a ticket system for them.
        The project had all the steps needed starting with creating a project plan, answering research questions, and making a timeline. After I completed those steps, I did research about my competition, witch was other websites that sell tickets to rok concerts and I created a wireframe and test it on multiple users.
        After that, based on the user tests results, I created a high fidelity prototype and test it as well. I got a lot of useful feedback witch I used to improve my prototype.
        After my design was validated I started creating the website. I started with the back end, creating the server and the database. After that I created the front end using HTML, CSS, and JavaScript. I test the functionality in Postman before creating the front end. 
        After the website was created I tested it on multiple users and made some changes based on the feedback I received. After that, I made a project report.  
    </p>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Final Product</h2>
    <div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 80px;">
        <div style="text-align: center;">
            <img src="assets/ticketProjectsem2.jpg" alt="Project 1 Image 1" style="width: 600px; height: auto; border-radius: 5px;">
        </div>
    </div>
    <a href="https://github.com/CCretu29/Coding-Assignments/tree/main/Ticket%20System%20with%20Backend" target="_blank" style="font-size: 1.2em; color: var(--color-blue); text-decoration: none; margin-top: 80px;">View project</a>

    <h2 style="font-size: 2em; font-weight: bold; color: var(--color-blue); text-align: left; margin-top: 50px;">Reflection</h2>
    <p style="font-size: 1.2em; color: var(--color-dark-black); text-align: left; margin-top: 10px;">
    Reflecting on this project, I am proud of the final product. I was able to create a website that allows users to create an account, log in, and buy a ticket for an event.
    I learned a lot about Node.js, MongoDB, and Postman. I also got to practice how to design a website from scratch and how to test it on multiple users.
    This project was very fun to make and I loved every part of it. I am happy with the final product and I am looking forward to making more projects like this in the future.
    </p>

</div>
