<div class="main-page" style="background-color: var(--color-white-cream); min-height: 100vh; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding-top: 150px; padding-left: 180px;">
    <section style="text-align: left; color: var(--color-dark-blue); display: flex; align-items: center;">
        <div>
            <h1 style="font-size: 4em; font-weight: bold; font-style: italic;">Cretu Claudia</h1>
            <h2 style="font-size: 2em; font-weight: bold; font-style: italic;">Ux Designer/Front end developer</h2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-left: 220px;">
            <img src="assets/profile.jpg" alt="Cretu Claudia" style="width: 280px; height: 380px; border-radius: 5%;">
            <a href="assets/CV.pdf" target="_blank" style="background-color: var(--color-blue); margin-top: 20px; padding: 10px 20px; border-radius: 10%; font-size: 1.2em; font-weight: 500; color: var(--color-dark-black); text-decoration: none; display: inline-block;">View my CV</a>
        </div>
    </section>
    <button (click)="scrollToInfoSection()" style="background-color: var(--color-blue); margin-top: 40px; padding: 10px 20px; border-radius: 10%; font-size: 1.2em; font-weight: 500; cursor: pointer;">Discover More</button>
</div>


<section id="info-section"
    style="background-color: var(--color-white-cream); min-height: 100vh; padding: 50px; padding-left: 180px;">
    <h2 style="font-size: 2.4em; font-weight: bold; color: var(--color-dark-blue); padding: 10px;">Portfolio Internship
    </h2>
    <p style="font-size: 1.3em; color: var(--color-dark-black); padding-left: 10px; margin-bottom: 20px;">
        Welcome to my portfolio where I showcase my work during my journey as a student at Fontys ICT. Here you can
        discover many interesting things that I have created, demonstrating my skills and knowledge.
    </p>
    <h2 style="font-size: 2.4em; font-weight: bold; color: var(--color-dark-blue); padding: 10px;">About Me</h2>
    <p style="font-size: 1.3em; color: var(--color-dark-black); padding-left: 10px;">
        Hello, I am Claudia, a 23-year-old student at Fontys University of Applied Sciences. I just finished my profile
        semesters specializing in "ICT and Media Design". I am currently in my second year of studies, in semester 4,
        "Smart mobile" specializing in User Experience Design and Front-end Development. I am passionate about creating
        beautiful and functional websites and applications that provide a great user experience. I am always eager to
        learn new things and improve my skills. I am a creative person who loves to design and develop digital products
        that make people's lives easier and more enjoyable.
        As my studies progress, I am looking forward to gaining more experience and knowledge in the field of web
        development and design. I am excited to work on new projects and challenges that will help me grow as a
        professional. I am confident that my skills and dedication will help me achieve my goals and become a successful
        UX designer and front-end developer.
        In my free time, I enjoy reading, drawing, making puzzles, taking photos and spending time with my friends and
        family. I am a curious person who loves to explore new places and cultures. I am always looking for new
        experiences and opportunities to learn and grow. I believe that life is an adventure, and I am ready to embrace
        it with open arms.
    </p>
    <button (click)="scrollToProjectsSection()"
        style="background-color: var(--color-blue); margin-top: 30px; padding: 10px 20px; border-radius: 10%; font-size: 1.2em; font-weight: 500; cursor: pointer;">Discover
        My Work</button>
</section>

<section id="projects-section"
    style="background-color: var(--color-white-cream); min-height: 100vh; padding: 20px 180px 180px 180px;">
    <h2 style="font-size: 2.4em; font-weight: bold; color: var(--color-dark-blue); padding: 40px;">My Projects</h2>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">
                Portfolio semester 2 & 3</h3>
            <a href="/project1"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Project</a>
        </div>
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">
                Internship portfolio</h3>
            <a href="/project2"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Project</a>
        </div>
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">Ticket
                system website</h3>
            <a href="/project3"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Project</a>
        </div>
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">
                Photography blog website</h3>
            <a href="/project4"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Project</a>
        </div>
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">Group
                projects</h3>
            <a href="/project5"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Project</a>
        </div>
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">Small
                interesting projects</h3>
            <a href="/project6"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Project</a>
        </div>
        <div style="text-align: center; background-color: var(--color-blue); padding: 20px; border-radius: 10px;">
            <h3 style="font-size: 1.5em; font-weight: bold; font-style: italic; color: var(--color-dark-black);">Smart
                Mobile semester</h3>
            <a href="/smart-mobile"
                style="background-color: var(--color-white-cream); border-radius: 10px; margin-top: 10px; padding: 10px 20px; font-size: 1em; cursor: pointer; display: inline-block; text-decoration: none; color: inherit;">View
                Smart Mobile Projects</a>
        </div>
    </div>
    <button (click)="scrollToSkillsSection()"
        style="background-color: var(--color-blue); margin-top: 30px; padding: 10px 20px; border-radius: 10%; font-size: 1.2em; font-weight: 500; cursor: pointer;">Discover
        My Skills</button>
</section>

<section id="skills-section"
    style="background-color: var(--color-white-cream); min-height: 50vh; padding-top: 10px; padding-bottom: 100px; padding-left: 180px;">
    <h2 style="font-size: 2.4em; font-weight: bold; color: var(--color-dark-blue); padding: 10px;">Skills</h2>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        <div>
            <h3 style="font-size: 2em; font-weight: bold; color: var(--color-blue); padding: 10px;">Technical Skills
            </h3>
            <ul style="font-size: 1.3em; color: var(--color-dark-black); padding-left: 20px; list-style-type: disc;">
                <li>HTML & CSS</li>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>React.js</li>
                <li>Node.js</li>
                <li>MongoDB</li>
                <li>Postman</li>
                <li>Bootstrap</li>
                <li>Tailwind CSS</li>
                <li>Responsive Design</li>
                <li>Version Control (Git)</li>
            </ul>
        </div>
        <div>
            <h3 style="font-size: 2em; font-weight: bold; color: var(--color-blue); padding: 10px;">Documentation and
                Research Skills</h3>
            <ul style="font-size: 1.3em; color: var(--color-dark-black); padding-left: 20px; list-style-type: disc;">
                <li>UX research</li>
                <li>Technical Writing</li>
                <li>Market Research</li>
                <li>Data Analysis</li>
                <li>Project Management</li>
                <li>Agile Methodologies</li>
                <li>Scrum</li>
                <li>Project documentation</li>
                <li>Research Methodologies</li>
                <li>Target audience research</li>
            </ul>
        </div>
        <div>
            <h3 style="font-size: 2em; font-weight: bold; color: var(--color-blue); padding: 10px;">Design Skills</h3>
            <ul style="font-size: 1.3em; color: var(--color-dark-black); padding-left: 20px; list-style-type: disc;">
                <li>User Experience Design</li>
                <li>Wireframe</li>
                <li>Prototyping</li>
                <li>UI/UX Design</li>
                <li>Design Thinking</li>
                <li>Photo taking and editing</li>
                <li>Logos, mood boards</li>
            </ul>
        </div>
    </div>
</section>