<section id="contact-section" style="background-color: var(--color-white-cream); min-height: 100vh; padding: 160px;">
    <h2
        style="font-size: 2.4em; font-weight: bold; color: var(--color-dark-blue); padding: 10px; padding-top: 40px; text-align: left;">
        Contact Me</h2>
    <p
        style="font-size: 1.3em; color: var(--color-dark-black); padding-left: 10px; margin-bottom: 10px; padding-top: 40px;">
        You can contact me via Fontys email, personal email, Teams or WhatsApp</p>
    <div
        style="font-size: 1.4em; color: var(--color-dark-black); padding-left: 10px; margin-bottom: 150px; padding-top: 20px;">
        <p><strong>Name:</strong> <span style="margin-left: 10px;">Cretu Claudia</span></p>
        <p><strong>Fontys Email:</strong> <span style="margin-left: 10px;"><a href="mailto:c.cretu@student.fontys.nl"
                    style="color: var(--color-dark-black); text-decoration: underline;">c.cretu&#64;student.fontys.nl</a></span>
        </p>
        <p><strong>Email:</strong> <span style="margin-left: 10px;"><a href="mailto:cretuclaudia373@yahoo.com"
                    style="color: var(--color-dark-black); text-decoration: underline;">cretuclaudia373&#64;yahoo.com</a></span>
        </p>
        <p><strong>Phone:</strong> <span style="margin-left: 10px;">+31 613778990</span></p>
        <p><strong>LinkedIn:</strong> <span style="margin-left: 10px;"><a
                    href="https://www.linkedin.com/in/claudia-cretu-746093271/" target="_blank"
                    style="color: var(--color-dark-black); text-decoration: underline;">linkedin.com/in/claudia-cretu-746093271</a></span>
        </p>
    </div>
</section>