/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@layer base {
    
  }

  :root {
    --color-dark-blue: #002858;
    --color-normal-blue: #577C8E;
    --color-blue: #9fa8d1;
    --color-light-blue: #C7D9E5;
    --color-white: #ffffff;
    --color-white-cream: #faf5f0;
    --color-dark-cream: #ffead8;
    --color-dark-black: #000000;
}
